In [ ]:


# -->  Clothing Store Recommendation

# ---- * RAHUL YADAV * ---- #

In [ ]:
# importing Libraries

import numpy as np
import pandas as pd
from pandas import read_csv
import pickle
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Project/ClothFinal.csv'

In [ ]:
df =pd.read_csv(path)

In [ ]:
df.tail()

,Id,Store,Age,Gender,Garment,Branded,Price,Rating
20,21,Abstract,Teenage,Male Female,Casual TShirt Jeans Shirt Pant Funky Top Kurti,NonBranded,500,4
21,22,Delhi Wear,Teenage Adult,Male Female,Casual TShirt Jeans Shirt Pant Top Kurti Suit,NonBranded,800,5
22,23,Quirk,Children Teenage,Male Female,ChildWear Short Dress Frock Casual Pant Top TS...,NonBranded,900,3
23,24,Anokhi,Senior,Male Female,Casual TShirt ComfortWear Saree Suit,NonBranded,600,5
24,25,Post Fold,Senior,Male Female,Kurta TShirt ComfortWear Saree Suit,NonBranded,800,4

In [ ]:
df.shape

(25, 8)

In [ ]:
df['Age'] = df['Age'].apply(lambda x:x.split())
#movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
df['Gender'] = df['Gender'].apply(lambda x:x.split())
#movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
df['Garment'] = df['Garment'].apply(lambda x:x.split())
#movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
df['Branded'] = df['Branded'].apply(lambda x:x.split())

In [ ]:
df['Price'] = df['Price'].apply(str)
df['Price'] = df['Price'].apply(lambda x:x.split())

In [ ]:
df['Rating'] = df['Rating'].apply(str)
df['Rating'] = df['Rating'].apply(lambda x:x.split())

In [ ]:
df['tags']=df['Age'] + df['Gender'] + df['Garment'] + df['Branded'] + df['Price'] + df['Rating']

In [ ]:
df[['tags'][0]]

0     [Teenage, Adult, Male, Female, Casual, Funky, ...
1     [Adult, Senior, Male, Formal, Coat, Blazer, Pa...
2     [Children, Male, Female, ChildWear, Short, Dre...
3     [Teenage, Adult, Senior, Male, Kurta, EthnicWe...
4     [Teenage, Adult, Male, Formal, Coat, Blazer, P...
5     [Teenage, Adult, Male, Innerwear, Funky, Brand...
6     [Teenage, Adult, Senior, Male, Female, Casual,...
7     [Adult, Senior, Female, Suit, Saree, Kurti, Et...
8     [Teenage, Adult, Female, Suit, Saree, Kurti, E...
9     [Adult, Senior, Male, Formal, Coat, Blazer, Pa...
10    [Children, Teenage, Adult, Senior, Male, Femal...
11    [Teenage, Adult, Female, Suit, Saree, Kurti, E...
12    [Children, Teenage, Adult, Senior, Male, Femal...
13    [Children, Teenage, Adult, Senior, Male, Femal...
14    [Children, Teenage, Adult, Senior, Male, Femal...
15    [Adult, Senior, Female, Saree, Kurti, Suit, No...
16    [Children, Male, Female, ChildWear, Short-Dres...
17    [Children, Male, Female, ChildWear, Short, Dre...
18    [Teenage, Male, Casual, TShirt, Jeans, Comfort...
19    [Teenage, Male, Female, Casual, TShirt, Jeans,...
20    [Teenage, Male, Female, Casual, TShirt, Jeans,...
21    [Teenage, Adult, Male, Female, Casual, TShirt,...
22    [Children, Teenage, Male, Female, ChildWear, S...
23    [Senior, Male, Female, Casual, TShirt, Comfort...
24    [Senior, Male, Female, Kurta, TShirt, ComfortW...
Name: tags, dtype: object

In [ ]:
df.head()

,Id,Store,Age,Gender,Garment,Branded,Price,Rating,tags
0,1,HM,"[Teenage, Adult]","[Male, Female]","[Casual, Funky]",[Branded],[1500],[4],"[Teenage, Adult, Male, Female, Casual, Funky, ..."
1,2,Raymond,"[Adult, Senior]",[Male],"[Formal, Coat, Blazer, Pant, Shirt]",[Branded],[2000],[5],"[Adult, Senior, Male, Formal, Coat, Blazer, Pa..."
2,3,First Cry,[Children],"[Male, Female]","[ChildWear, Short, Dress, Frock]",[Branded],[1000],[5],"[Children, Male, Female, ChildWear, Short, Dre..."
3,4,Manyawar,"[Teenage, Adult, Senior]",[Male],"[Kurta, EthnicWear]",[Branded],[1200],[4],"[Teenage, Adult, Senior, Male, Kurta, EthnicWe..."
4,5,Blackberry,"[Teenage, Adult]",[Male],"[Formal, Coat, Blazer, Pant, Shirt]",[Branded],[2500],[3],"[Teenage, Adult, Male, Formal, Coat, Blazer, P..."

In [ ]:
new_df = df.drop(columns=['Age','Gender','Garment','Branded','Price','Rating'])

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

new_df.head()

   Id       Store                                               tags
0   1          HM  Teenage Adult Male Female Casual Funky Branded...
1   2     Raymond  Adult Senior Male Formal Coat Blazer Pant Shir...
2   3   First Cry  Children Male Female ChildWear Short Dress Fro...
3   4    Manyawar  Teenage Adult Senior Male Kurta EthnicWear Bra...
4   5  Blackberry  Teenage Adult Male Formal Coat Blazer Pant Shi...

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df.head()

   Id       Store                                               tags
0   1          HM  teenage adult male female casual funky branded...
1   2     Raymond  adult senior male formal coat blazer pant shir...
2   3   First Cry  children male female childwear short dress fro...
3   4    Manyawar  teenage adult senior male kurta ethnicwear bra...
4   5  Blackberry  teenage adult male formal coat blazer pant shi...

In [ ]:
new_df.to_csv(r'/content/drive/MyDrive/Project/Store.csv')